h2 {
  text-align: center;
  font: 18px/18px 'Federo', sans-serif;
  color: #005AA0;
  font-size: 40;
  top: 25;
}

#city {
  font-family: 'Federo', sans-serif;
}

#logo {
  position: absolute;
  left: 3;
  top: 0;
  z-index: 60;
  padding: 6px;
}

body {
    background-color: whitesmoke;
  }

.btn {
  position: relative;
  text-align: center;
  top: 300;
  left: 0;
}

#toppanel {
  position: absolute;
  background-color: #E4EFF7;
  color: #005AA0;
  stroke-width: 1;
  text-align: center;
  width: 100%;
  height: 70;
  top: 0;
  left: 0;
  z-index: 59;
  border-bottom-style: outset;
  border-top-style: double;
}

#leftpanel {
  position: absolute;
  text-align: justify;
  height: 100%;
  width: 105;
  left: 0%;
  top: 0%;
  background-color: #9aa3ac;
  z-index: 58;
  border-right-style: outset;
  border-color: lightblue;
}

a {
  position: relative;
  top: 70;
  left: 5;
  font-size: 15;
  padding: 1;
  color: black;
  font-family: 'Asap', sans-serif;
  line-height: 1.5em;
}

p {
  position: relative;
  text-align: center;
  top: 130;
  font-size: 20;
}
.strip {
  position: absolute;
  background-color: #76466E;
  height: 100px;
  width: 100%;
  right: 0;
  text-align: center;
  z-index: 57;
  border-bottom: darkorchid;
  border-style: double;
  font-family: 'Asap', sans-serif;
}

#striptext {
  position: relative;
  text-align: center;
  font-family: 'Asap', sans-serif;
  color: #E4EFF7;
  top: 67;
  font-size: 28;
  z-index: 56;
}

.radioblockleft {
  position: absolute;
  display: inline-block;
  margin: auto;
  text-align: left;
  top: 130;
  left: 120;
}

.radioblockmiddle {
  position: absolute;
  display: inline-block;
  margin: auto;
  text-align: left;
  top: 130;
  left: 295;
}

.radioblockright {
  position: absolute;
  display: inline-block;
  margin: auto;
  text-align: left;
  top: 130;
  left: 470;
}

input {
  margin: 10;
}

form {
  position: relative;
  font-family: 'Asap', sans-serif;
}

@font-face {
  font-family: 'Federo', sans-serif;
}
