h2 {
  text-align: center;
  font: 18px/18px 'Federo', sans-serif;
  color: #005AA0;
  font-size: 40;
  top: 25;
}

.city {
  font-family: 'Federo', sans-serif;
}

.logo {
  position: absolute;
  left: 3;
  top: 0;
  width: 85;
  z-index: 60;
  padding: 6px;
}

body {
    background-color: whitesmoke;
  }

.btn {
  position: relative;
  text-align: center;
  top: 300;
  left: 0;
}

.button {
  size: 60;
}

.toppanel {
  position: absolute;
  background-color: whitesmoke;
  color: #005AA0;
  stroke-width: 1;
  text-align: center;
  width: 100%;
  height: 70;
  top: 0;
  left: 0;
  z-index: 61;
  border-bottom-style: outset;
  border-top-style: double;
}

.leftpanel {
  position: absolute;
  text-align: justify;
  height: 100%;
  width: 105;
  left: 0%;
  top: 0%;
  background-color:whitesmoke;
  z-index: 58;
  border-right-style: outset;
  border-color: lightblue;
}

a {
  position: relative;
  top: 110;
  left: 5;
  font-size: 15;
  padding: 1;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  line-height: 1.5em;
}

p {
  position: relative;
  text-align: center;
  top: 130;
  font-size: 20;
}
.strip {
  position: absolute;
  background-color: #5900ff;
  height: 100px;
  width: 100%;
  right: 0;
  text-align: center;
  z-index: 60;
  border-bottom: lightblue;
  border-style: double;
}

.striptext {
  position: relative;
  text-align: center;
  font-family: 'Asap', sans-serif;
  color: #E4EFF7;
  top: 67;
  font-size: 28;
  z-index: 56;
}

.radioblockleft {
  position: absolute;
  display: inline-block;
  margin: auto;
  text-align: left;
  top: 130;
  left: 120;
}

.radioblockmiddle {
  position: absolute;
  display: inline-block;
  margin: auto;
  text-align: left;
  top: 130;
  left: 295;
}

.radioblockright {
  position: absolute;
  display: inline-block;
  margin: auto;
  text-align: left;
  top: 130;
  left: 470;
}

input {
  margin: 10;
  font-family: 'Times New Roman', Times, serif;
}

form {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}


